.profile-main{
    width: 100vw;
 
    
}

.background-grey{
    position: absolute;
    z-index: -1;
    background-color: rgb(236, 236, 236);
    width: 100vw;
    height: 250px;
  
    
}

.profile-upper{
    width: 100vw;
    height: 400px;
    display: flex;
    margin-top: 50px;
}

.profile-upper-first{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-upper-second{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
    
}

.profile-upper-first div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../Assets/demo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.profile-upper-second-numbers{
    position: relative;
    top: 25%;
    width: 35%;
    
}

.profile-num{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}



.profile-num .numbers{
    font-size: 30px;
    text-align: center;

}

.profile-upper-middle{
    display: flex;
    justify-self: center;
    align-items: flex-start;
    top:25%;
    position: relative;
    top: 25%;
    
}

.profile-bottom{
   width: 100%;
   background-color: rgb(236, 236, 236);
}

.profile-bottom-container{
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.profile-cat{
    margin-top: 20px;
  width: 90%;

}

.profile-data{
    width: 90%;
}

.profile-data-container{
    width: 90% ;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;

}

.profile-data-post{
    width: 25%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Assets/demo.jpg");
    border: 1px solid black;
}


@media (max-width: 830px) {
    .profile-upper-first div{
        width: 250px;
        height: 250px;
    }
    .profile-upper-second{
       flex-direction: column;
       
       align-items: center;
           
       
    }

        .profile-bottom-container {
            width: 90vw;
            margin: auto;
    
    
    
        }

}

@media (max-width: 713px) {
    .profile-upper-first div {
        width: 200px;
        height: 200px;
    }

        .profile-upper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }

        .profile-num{
            gap: 20%;
            
        }
                .profile-upper-middle {
                    top: 0px;
                }
        
                .profile-upper-second-numbers {
                    top: 0px;
                }
}