.profile-main{
   
 
    
}



.profile-modal{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    
}

.profile-modal-container{
    width: 800px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: auto;
    max-height: 90vh;
    
   
}
.profile-modal-outer-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}



.profile-post-comment{
    width: 100%;
    height: fit-content;
    

    
}

.comment-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
    height: fit-content;
}

.comment-box{
    display: flex;
    gap:2%;
    height: fit-content;
}

.comment-img{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.comment-img img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    
}



.comment-details{
    width: 98%;
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 1%;
    gap:1%;
}


.comment-name{
    width: 100%;
 
}

.comment-text{
    width: 100%;
   
    font-size: 20px;

}

.comment-time{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    
                
       
}


.background-grey{
    position: absolute;
    z-index: -1;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 260px;
  
    
}

.profile-upper{
   
    height: 400px;
    display: flex;
    margin-top: 50px;
}

.profile-upper-first{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-upper-second{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
    
}

.profile-upper-second-second{
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: flex-start;

    
}
.follow-button{
    width: 35%;
    height: 40px;
    background-color:rgb(170 170 170);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
.profile-upper-first div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../Assets/demo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.profile-upper-second-container{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    flex-direction: column;
    padding-block: 30px;
    

}

.profile-upper-second-numbers{
    position: relative;
    top: 25%;
    width: 35%;
    
}

.profile-num{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}



.profile-num .numbers{
    font-size: 30px;
    text-align: center;

}

.profile-upper-middle{
    display: flex;
    justify-self: center;
    align-items: flex-start;
    top:25%;
    position: relative;
    top: 25%;
    justify-content: center;
    width: 35%;
    
}

.profile-bottom{
  
   background-color: rgb(236, 236, 236);
}

.profile-bottom-container{
  
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.profile-cat{
    margin-top: 20px;
  width: 90%;

}

.profile-data{
  width: 100%;
  /* height: 600px; */
  margin-top: 30px;
}

.profile-data-container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* grid-template-rows: 100px 100px 100px 100px ; */
    
}

.profile-data-post{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Assets/demo.jpg");
    border: 2px solid black;
}


@media (max-width: 830px) {
    
    .profile-modal-container{
        width: 95%;
        max-height: 80vh;
      

    }

    .profile-modal-outer-container{
        margin-top: 0;
    }
    .profile-upper-first div{
        width: 250px;
        height: 250px;
    }
    .profile-upper-second{
       flex-direction: column;
       
       align-items: center;
           
       
    }

    
        .profile-bottom-container {
            width: 90vw;
            margin: auto;
    
    
    
        }

        

        .profile-data-container{
            grid-template-columns: 50% 50%;

        }
        .profile-data-post {
            height: 300px;
           
        }

        .profile-upper-second-second{
            justify-content: center;
            padding-block: 30px;
        }
       .profile-upper-middle {
                    
                    width: 100%;
                }

}

@media (max-width: 713px) {
    .profile-upper-first div {
        width: 200px;
        height: 200px;
    }

        .profile-upper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
              padding-top: 90px;
            padding-bottom: 40px;
           
        }

        .profile-num{
            gap: 20%;
            
        }
                .profile-upper-middle {
                    top: 0px;
                    width: 100%;
                }
        
                .profile-upper-second-numbers {
                    top: 0px;
                }

          
}